.barranavegacion{
    background-color: #D5DBDB;
    color: white;
    }
a{
    color: black;
    padding-left: 15px;
    padding-right: 35px;
    font-size: 20px;
    font-weight: 350;
    font-family: Gill Sans / Gill Sans MT, sans-serif;
        
}
li{
    padding-right: 35px;
}
.contenedorinicio{
    background-color: #BFC9CA;
    margin-top: 40px;
    height: 550px;
    border-radius: 15px;
    margin-bottom: 100px;
}
.contenedorregistro{
    background-color: #BFC9CA;
    margin-top: 40px;
    height: 1000px;
    border-radius: 15px;
    margin-bottom: 100px;
    padding-top: 30px;

}
.contenedorlistado{
    background-color: #BFC9CA;
    margin-top: 40px;
    height: auto;
    border-radius: 15px;
    margin-bottom: 100px;
    padding-top: 30px;
    padding-bottom: 25px;
    width: auto;

}

div.contenido{
    padding-left: 50px;
    padding-right: 50px;
}

.inicio{
    margin-top: 45px;
    padding-top: 50px;
}

.uis{
    margin-left: 50px;
}

h1{
    color: white;
    font-family: -webkit-pictograph;
    font-weight: 1000;
}
.textoinicio{
    padding-left: 50px;  
}


#imagen{
    animation: movimiento 2.5 linear infinite;
    border-radius: 15px;
    box-shadow: 10px 15px 10px 15px  rgb(139, 141, 137);
}

.logo{
    box-shadow: none;
}

@keyframes movimiento {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0);
    }
}

.pie{
    margin-top: 25px;
    padding-top: 25px;
}

.scrollme{
    overflow-x: auto;
}










  
.form-control-feedback {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    color: gray;
  }
  
  .form-control {
    padding-left: 30px!important;
    border-radius: 10px;
  }

  select{
    font-size: 13px;
    font-weight: 400;
    line-height: 2;
    padding: .4em 1.4em .3em .8em;
    width: 100%;
    max-width: 100%; 
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: 8px;
    background-color: #fff;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
    -webkit-appearance: none;
    background-repeat: no-repeat, repeat;
}

.date {
    background-color: #fbfbfb; 
    width: 100%; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    padding-left: 10px; 
}

button{
    width: 150px;
}


label{
    color: gray;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid gray;
	border-radius: 8px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo{
    display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 25px;
	bottom: 10px;
    top: 10px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__mensaje{
    height: 45px;
    border-radius: 20px;
    width: 500px;
    padding-top: 10px;
    display: none;
}

.formulario__mensaje-activo{
    display: block;
}

.formulario__mensaje-exito-activo {
	display: block;
}

.formulario__grupo-correcto .formulario__validacion-estado{
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: #c52323;
    opacity: 1;
}

.title{

    border-radius: 20px;
    justify-content: center;
    box-shadow: 2px 2px 2px 2px  rgb(170, 172, 169);
    background-color: #A569BD ;
}

.titleActualizar{
    border-radius: 20px;
    justify-content: center;
    box-shadow: 2px 2px 2px 2px  rgb(170, 172, 169);
    background-color: #3ab362 ;
}

.principal{
    border-radius: 20px;
    justify-content: center;
    box-shadow: 10px 15px 10px 15px  rgb(139, 141, 137);
   margin-top: 35px;
   margin-bottom: 35px;
   padding-bottom: 25px;
   background-color: white;
   width: 100%;
}

.boton{
    border-radius: 20px;
    justify-content: center;
    box-shadow: 5px 5px 5px 5px  rgb(156, 238, 115);
    width: 200px;
    height: 50px;

}

.botonvolver{
    border-radius: 20px;
    justify-content: center;
    box-shadow: 2px 2px 2px 2px  rgb(108, 52, 131);
    background-color: #3498DB;
    color: white;
}







.contenedor{
    text-align: center;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;

}
.contenedor1{
    margin-top: 20px;
    padding-top: 20px;
}
.contenedor2{
    text-align: right;
    margin-top: 1px;
    padding-left: 5px;
}


p{
    margin: 0;
    font-size: 20px;
}

.parrafo{
    color: white;
}

h2, h3{
    font-size: 40px;
    color: white;
}

button{
    width: 220px;
    height: 50px;
    border-radius: 20px;
}

.boton{
    border-radius: 20px;
    justify-content: center;
    box-shadow:  2px 2px 2px 2px    rgb(108, 52, 131);
    width: 220px;
    height: 50px;
}

.botonvolver{
    border-radius: 20px;
    justify-content: center;
    box-shadow: 2px 2px 2px 2px  rgb(108, 52, 131);
    background-color: #3498DB;
    width: 220px;
    height: 50px;
}

.divbotones{
    margin-top: 25px;
}




.table{
    background-color: white;
    border-radius: 10px;
    width: auto;
}


body{
    background-image: url(../images/fondo.png);
}
